
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Customize CSS -->
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/products.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/registration.css' %} ">

    <title> 
        {% block title %}
      
        {% endblock title %} 
    </title>
  </head>
  <body>

    <header>


      <nav class="navbar navbar-expand-lg navbar-light bg-aqua">
  <a class="navbar-brand" href="{% url 'index' %}"><img width="150px" src="{% static 'images/mytlogo.png' %}" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          
      {% if request.user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="" style="font-size: 14px; padding-top: 15px;">
          Dear {{request.user.username}}, Welcome to your Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'glasses' %}">Glasses</a>
          <a class="dropdown-item" href="{% url 'watches' %}">Watches</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'index' %}">Other Products from Jelmah</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      
      {% else %}
        
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>

      {% endif %}
      

    </ul>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keysearch">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    </header>


    <main>
        {% block main %}
          
        {% endblock main %}
    </main>


    <footer>
      <section>
        <div class="f1">
          <div><img width="150px" src="{% static 'images/mytlogo.png' %}" alt=""></div>
          <div>
            <h4>NEW TO PHONEIX ?</h2>
            <h6>Subscribe to our newsletter to get updates on our latest offers!</h4>
            <form action="">
              <input type="text" value="Search" placeholder="Enter E-mail Address">
              <button>MALE</button>
              <button>FEMALE</button>
            </form>
          </div>
          <div>
            <h4>GET THE APP</h2>
            <h6>Get access to the best app deals!</h4>
            <div>
              <img width="150px" height="40px" src="{% static 'images/app-store.png' %}" alt="">
              <img width="110px" height="40px" src="{% static 'images/google-play.png' %}" alt="">
            </div>
          </div>
        </div>
        <div class="f2">
          <div>
            <h4>CUSTOMER SERVICE</h4>
            <h5>Help</h5>
            <h5>Contact Us</h5>
            <h5>Work With Us</h5>
            <h5>Report a Product</h5>
          </div>
          <div>
            <h4>GET TO KNOW US</h4>
            <h5>About Us</h5>
            <h5>Privacy Policy</h5>
            <h5>Terms & Conditions</h5>
            <h5>Product Terms & Conditions</h5>
          </div>
          <div>
            <h4>DISCOVER</h4>
            <h5>Online Shopping App</h5>
            <h5>How to Shop</h5>
          </div>
          <div>
            <h4>PHONIEX INTERNATIONAL</h4>
            <h5>Nigeria</h5>
            <h5>Ghana</h5>
            <h5>Morocco</h5>
            <h5>England</h5>
            <h5>Senegal</h5>
          </div>
        </div>
        <div class="f3">  
            <p></p>  
            <p>Dettol</p>
            <p>Durex</p>
            <p>Future Life</p>
            <p>Jacobs</p>
            <p>Johnsons</p>
            <p>Red Bull</p>
            <p>Samsung</p>
            <p>Smeg</p>
        </div>
      </section>
    </footer>




    <!-- Customize JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

